/*

*/

.version.index /* version checker */
{
	color: #0000FE;
	background-color: #D576FF;
}

.html
{
	background: #FFFFFF url("../images/large%20flowers.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 573px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u9755
{
	z-index: 3;
	height: 352px;
}

#u9755-bw
{
	z-index: 3;
	margin-top: 147px;
	height: 352px;
}

#u7436
{
	z-index: 2;
	padding-bottom: 28px;
}

#u7436_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#menuu13442
{
	z-index: 4;
	width: 832px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 196px;
}

#u13443
{
	width: 57px;
	min-height: 24px;
	margin-right: -10000px;
}

#u13444
{
	width: 57px;
	padding-bottom: 10px;
}

#u13444:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13444.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13445-4
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u13444:hover #u13445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u13464
{
	width: 212px;
	min-height: 24px;
	margin-right: -10000px;
	left: 87px;
}

#u13465
{
	width: 212px;
	padding-bottom: 10px;
}

#u13465:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13465.MuseMenuActive
{
	width: 212px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13467-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u13444.MuseMenuActive #u13445-4,#u13465:hover #u13467-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u13485
{
	width: 150px;
	min-height: 24px;
	margin-right: -10000px;
	left: 329px;
}

#u13486
{
	width: 150px;
	padding-bottom: 10px;
}

#u13486:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13486.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13488-4
{
	width: 150px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u13465.MuseMenuActive #u13467-4,#u13486:hover #u13488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u13471
{
	width: 95px;
	min-height: 24px;
	margin-right: -10000px;
	left: 509px;
}

#u13474
{
	width: 95px;
	padding-bottom: 10px;
}

#u13474:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13474.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13476-4
{
	width: 95px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u13486.MuseMenuActive #u13488-4,#u13474:hover #u13476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u13457
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 634px;
}

#u13460
{
	width: 76px;
	padding-bottom: 10px;
}

#u13460:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13460.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13463-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u13474.MuseMenuActive #u13476-4,#u13460:hover #u13463-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u13450
{
	width: 92px;
	min-height: 24px;
	margin-right: -10000px;
	left: 740px;
}

#u13453
{
	width: 92px;
	padding-bottom: 10px;
}

#u13453:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13453.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u13456-4
{
	width: 92px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u13460.MuseMenuActive #u13463-4,#u13453:hover #u13456-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u13453.MuseMenuActive #u13456-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u7436-bw
{
	z-index: 2;
	margin-top: 569px;
	height: 52px;
}

@font-face
{
	font-family: '__Sabon RomanSC_5';
	src: url('../fonts/2c6fef_0_0.eot');
	src: local('☺'), url('../fonts/2c6fef_0_0.woff') format('woff'), url('../fonts/2c6fef_0_0.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -568px;
}

