/*

*/

.version.perparations /* version checker */
{
	color: #0000FB;
	background-color: #2A3524;
}

.html
{
	background: #FFFFFF url("../images/paper_1000px.jpg") repeat left top;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -300px;
}

#u4286
{
	z-index: 345;
	padding-bottom: 58px;
}

#u4286_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7893
{
	z-index: 346;
	width: 738px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 223px;
}

#u7893_clip
{
	width: 738px;
	height: 176px;
}

#u4286-bw
{
	z-index: 345;
	height: 242px;
}

#u4214
{
	z-index: 344;
	height: 80px;
}

#u4214-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 344;
	top: 0px;
}

#menuu9629
{
	z-index: 348;
	width: 832px;
	top: 29px;
	left: 96px;
}

#u9666
{
	width: 57px;
	min-height: 24px;
	margin-right: -10000px;
}

#u9669
{
	width: 57px;
	padding-bottom: 10px;
}

#u9669:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9669.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9672-4
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9669:hover #u9672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9680
{
	width: 212px;
	min-height: 24px;
	margin-right: -10000px;
	left: 87px;
}

#u9681
{
	width: 212px;
	padding-bottom: 10px;
}

#u9681:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9681.MuseMenuActive
{
	width: 212px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9684-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9669.MuseMenuActive #u9672-4,#u9681:hover #u9684-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9673
{
	width: 150px;
	min-height: 24px;
	margin-right: -10000px;
	left: 329px;
}

#u9674
{
	width: 150px;
	padding-bottom: 10px;
}

#u9674:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9674.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9675-4
{
	width: 150px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9681.MuseMenuActive #u9684-4,#u9674:hover #u9675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9630
{
	width: 95px;
	min-height: 24px;
	margin-right: -10000px;
	left: 509px;
}

#u9631
{
	width: 95px;
	padding-bottom: 10px;
}

#u9631:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9631.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9634-4
{
	width: 95px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9674.MuseMenuActive #u9675-4,#u9631:hover #u9634-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9637
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 634px;
}

#u9638
{
	width: 76px;
	padding-bottom: 10px;
}

#u9638:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9638.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9641-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9631.MuseMenuActive #u9634-4,#u9638:hover #u9641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9659
{
	width: 92px;
	min-height: 24px;
	margin-right: -10000px;
	left: 740px;
}

#u9660
{
	width: 92px;
	padding-bottom: 10px;
}

#u9660:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9660.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9662-4
{
	width: 92px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9638.MuseMenuActive #u9641-4,#u9660:hover #u9662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15438
{
	z-index: 423;
	width: 76px;
	height: 2px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 53px;
	left: 730px;
}

#u13559
{
	z-index: 385;
	height: 56px;
}

#u13559-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 385;
	top: 80px;
}

#menuu13560
{
	z-index: 386;
	width: 865px;
	top: 94px;
	left: 80px;
}

#u15442
{
	width: 132px;
	min-height: 24px;
	margin-right: -10000px;
}

#u15443
{
	width: 132px;
	padding-bottom: 10px;
}

#u15443:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15443:active
{
	margin: 0px;
}

#u15443.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15445-4
{
	width: 131px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9660.MuseMenuActive #u9662-4,#u15443:hover #u15445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15443:active #u15445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15557
{
	width: 112px;
	min-height: 24px;
	margin-right: -10000px;
	left: 162px;
}

#u15560
{
	width: 112px;
	padding-bottom: 10px;
}

#u15560:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15560:active
{
	margin: 0px;
}

#u15560.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15563-4
{
	width: 111px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u15443.MuseMenuActive #u15445-4,#u15560:hover #u15563-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15560:active #u15563-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15550
{
	width: 145px;
	min-height: 24px;
	margin-right: -10000px;
	left: 304px;
}

#u15553
{
	width: 145px;
	padding-bottom: 10px;
}

#u15553:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15553:active
{
	margin: 0px;
}

#u15553.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15556-4
{
	width: 144px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u15560.MuseMenuActive #u15563-4,#u15553:hover #u15556-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15553:active #u15556-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15564
{
	width: 108px;
	min-height: 24px;
	margin-right: -10000px;
	left: 479px;
}

#u15565
{
	width: 108px;
	padding-bottom: 10px;
}

#u15565:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15565:active
{
	margin: 0px;
}

#u15568-4
{
	width: 107px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u15553.MuseMenuActive #u15556-4,#u15565:hover #u15568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15565:active #u15568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15571
{
	width: 108px;
	min-height: 24px;
	margin-right: -10000px;
	left: 617px;
}

#u15572
{
	width: 108px;
	padding-bottom: 10px;
}

#u15565.MuseMenuActive,#u15572:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15572:active
{
	margin: 0px;
}

#u15572.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15574-4
{
	width: 107px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u15565.MuseMenuActive #u15568-4,#u15572:hover #u15574-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15572:active #u15574-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15578
{
	width: 110px;
	min-height: 24px;
	margin-right: -10000px;
	left: 755px;
}

#u15581
{
	width: 110px;
	padding-bottom: 10px;
}

#u15581:hover
{
	width: 110px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15581:active
{
	margin: 0px;
}

#u15581.MuseMenuActive
{
	width: 110px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15582-4
{
	width: 109px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u15572.MuseMenuActive #u15574-4,#u15581:hover #u15582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15581:active #u15582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u15581.MuseMenuActive #u15582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u12102
{
	z-index: 2;
	width: 1024px;
	background-color: transparent;
	margin-top: 186px;
	position: relative;
}

#u12108
{
	z-index: 4;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12113
{
	z-index: 6;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12123
{
	z-index: 10;
	width: 1024px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u12118
{
	z-index: 8;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12118_clip
{
	overflow: hidden;
	width: 504px;
	height: 349px;
}

#u12118_img
{
	margin-top: -14px;
	margin-bottom: -1px;
}

#u12133
{
	z-index: 14;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 520px;
}

#u12128
{
	z-index: 12;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12143
{
	z-index: 18;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12138
{
	z-index: 16;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12162
{
	z-index: 22;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12148
{
	z-index: 20;
	width: 676px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u12168
{
	z-index: 24;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12173
{
	z-index: 26;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u12178
{
	z-index: 28;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 693px;
}

#u12188
{
	z-index: 32;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12183
{
	z-index: 30;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12183_img
{
	margin-top: -12px;
	margin-bottom: -30px;
}

#u12193
{
	z-index: 34;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12198
{
	z-index: 36;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12203
{
	z-index: 38;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12208
{
	z-index: 40;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12223
{
	z-index: 42;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12229
{
	z-index: 44;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12239
{
	z-index: 48;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12234
{
	z-index: 46;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12249
{
	z-index: 52;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12244
{
	z-index: 50;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12264
{
	z-index: 58;
	width: 1024px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u12254
{
	z-index: 54;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12259
{
	z-index: 56;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u12269
{
	z-index: 60;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 693px;
}

#u12269_clip
{
	overflow: hidden;
	width: 331px;
	height: 221px;
}

#u12283
{
	z-index: 62;
	width: 331px;
	background-color: transparent;
	position: relative;
}

#u12289
{
	z-index: 64;
	width: 331px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12294
{
	z-index: 66;
	width: 677px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u12294_clip
{
	overflow: hidden;
	width: 677px;
	height: 457px;
}

#u12294_img
{
	margin-right: -83px;
	margin-bottom: -50px;
}

#u12309
{
	z-index: 72;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12314
{
	z-index: 74;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12299
{
	z-index: 68;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12304
{
	z-index: 70;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12319
{
	z-index: 76;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12324
{
	z-index: 78;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12329
{
	z-index: 80;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12343
{
	z-index: 82;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12354
{
	z-index: 86;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12359
{
	z-index: 88;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12349
{
	z-index: 84;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12364
{
	z-index: 90;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12369
{
	z-index: 92;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12374
{
	z-index: 94;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12269_img,#u12374_img
{
	margin-bottom: -6px;
}

#u12379
{
	z-index: 96;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12384
{
	z-index: 98;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12480
{
	z-index: 106;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12475
{
	z-index: 104;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12469
{
	z-index: 102;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12389
{
	z-index: 100;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#pu12283,#pu12510
{
	width: 0.01px;
	margin-right: -10000px;
}

#u12510
{
	z-index: 118;
	width: 589px;
	background-color: transparent;
	position: relative;
}

#u12485
{
	z-index: 108;
	width: 589px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12485_clip
{
	overflow: hidden;
	width: 589px;
	height: 385px;
}

#u12485_img
{
	margin-bottom: -8px;
}

#pu12515
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 604px;
}

#u12515
{
	z-index: 120;
	width: 420px;
	background-color: transparent;
	position: relative;
}

#u12490
{
	z-index: 110;
	width: 420px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12495
{
	z-index: 112;
	width: 420px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u12515_clip,#u12490_clip,#u12495_clip
{
	overflow: hidden;
	width: 420px;
	height: 254px;
}

#u12515_img,#u12490_img,#u12495_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u12500
{
	z-index: 114;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12505
{
	z-index: 116;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12505_img
{
	padding-bottom: 13px;
}

#pu12543
{
	width: 0.01px;
	margin-top: 1px;
}

#u12543
{
	z-index: 126;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12548
{
	z-index: 128;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12553
{
	z-index: 130;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12563
{
	z-index: 134;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12568
{
	z-index: 136;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12558
{
	z-index: 132;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12573
{
	z-index: 138;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12532
{
	z-index: 122;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12538
{
	z-index: 124;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12593
{
	z-index: 142;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12599
{
	z-index: 144;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12599_clip
{
	overflow: hidden;
	width: 504px;
	height: 687px;
}

#u12599_img
{
	margin-top: -83px;
}

#pu12604
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 520px;
}

#u12604
{
	z-index: 146;
	width: 504px;
	background-color: transparent;
	position: relative;
}

#u12578
{
	z-index: 140;
	width: 504px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12609
{
	z-index: 148;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12619
{
	z-index: 150;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12624
{
	z-index: 152;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12629
{
	z-index: 154;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12634
{
	z-index: 156;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12653
{
	z-index: 160;
	width: 369px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12639
{
	z-index: 158;
	width: 640px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u12639_clip
{
	overflow: hidden;
	width: 640px;
	height: 451px;
}

#u12639_img
{
	margin-right: -36px;
}

#u12659
{
	z-index: 162;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12664
{
	z-index: 164;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12669
{
	z-index: 166;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12679
{
	z-index: 170;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12684
{
	z-index: 172;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12674
{
	z-index: 168;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12689
{
	z-index: 174;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12694
{
	z-index: 176;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12699
{
	z-index: 178;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12739
{
	z-index: 190;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12744
{
	z-index: 192;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12713
{
	z-index: 180;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12719
{
	z-index: 182;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12729
{
	z-index: 186;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12724
{
	z-index: 184;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12734
{
	z-index: 188;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12749
{
	z-index: 194;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12754
{
	z-index: 196;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12759
{
	z-index: 198;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12773
{
	z-index: 200;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12779
{
	z-index: 202;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12784
{
	z-index: 204;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12789
{
	z-index: 206;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12794
{
	z-index: 208;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12804
{
	z-index: 340;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12804_clip
{
	overflow: hidden;
	width: 1024px;
	height: 683px;
}

#u12804_img
{
	margin-top: -3px;
	margin-bottom: -4px;
}

#u12799
{
	z-index: 338;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12809
{
	z-index: 210;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12814
{
	z-index: 212;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12819
{
	z-index: 214;
	width: 1024px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u12833
{
	z-index: 216;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12839
{
	z-index: 218;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12844
{
	z-index: 220;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12849
{
	z-index: 222;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12854
{
	z-index: 224;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12859
{
	z-index: 226;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12864
{
	z-index: 228;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12869
{
	z-index: 230;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12874
{
	z-index: 232;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12879
{
	z-index: 234;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12893
{
	z-index: 236;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12899
{
	z-index: 238;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12904
{
	z-index: 240;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12904_img
{
	margin-bottom: -45px;
}

#u12909
{
	z-index: 242;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12914
{
	z-index: 244;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12919
{
	z-index: 246;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12924
{
	z-index: 248;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12929
{
	z-index: 250;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u12941
{
	z-index: 252;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12947
{
	z-index: 254;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12957
{
	z-index: 258;
	width: 676px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u12952
{
	z-index: 256;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12967
{
	z-index: 262;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12962
{
	z-index: 260;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u12972
{
	z-index: 264;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12977
{
	z-index: 266;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u12982
{
	z-index: 268;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12987
{
	z-index: 270;
	width: 676px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u12992
{
	z-index: 272;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12997
{
	z-index: 274;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13002
{
	z-index: 276;
	width: 676px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u13012
{
	z-index: 280;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 694px;
}

#u13007
{
	z-index: 278;
	width: 1024px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u13017
{
	z-index: 282;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13022
{
	z-index: 284;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13027
{
	z-index: 286;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u13037
{
	z-index: 290;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u13037_img
{
	margin-top: -80px;
	margin-bottom: -53px;
}

#u13042
{
	z-index: 292;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u13032
{
	z-index: 288;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13047
{
	z-index: 294;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13052
{
	z-index: 296;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13057
{
	z-index: 298;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#pu12108,#pu13062
{
	width: 0.01px;
	margin-top: 16px;
}

#u13062
{
	z-index: 300;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13067
{
	z-index: 302;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13077
{
	z-index: 306;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13082
{
	z-index: 308;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u13072
{
	z-index: 304;
	width: 331px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 693px;
}

#u13092
{
	z-index: 312;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12183_clip,#u12374_clip,#u12904_clip,#u13092_clip
{
	overflow: hidden;
	width: 504px;
	height: 336px;
}

#u13092_img
{
	margin-top: -16px;
	margin-bottom: 1px;
}

#u13097
{
	z-index: 314;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13102
{
	z-index: 316;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u13107
{
	z-index: 342;
	width: 1024px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u13037_clip,#u13107_clip
{
	overflow: hidden;
	width: 1024px;
	height: 550px;
}

#u13107_img
{
	margin-top: -86px;
	margin-bottom: -47px;
}

#u13112
{
	z-index: 318;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u13112_img
{
	padding-right: 1px;
}

#u13117
{
	z-index: 320;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13122
{
	z-index: 322;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13127
{
	z-index: 324;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#pu12118,#pu12162,#pu12183,#pu12203,#pu12234,#pu12254,#pu12309,#pu12573,#pu12599,#pu12619,#pu12664,#pu12694,#pu12719,#pu12773,#pu12809,#pu12849,#pu12879,#pu12947,#pu13077,#pu13132
{
	width: 0.01px;
	margin-top: 14px;
}

#u13132
{
	z-index: 326;
	width: 581px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13137
{
	z-index: 328;
	width: 428px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u13137_clip
{
	overflow: hidden;
	width: 428px;
	height: 393px;
}

#u13137_img
{
	margin-bottom: -15px;
}

#u13142
{
	z-index: 330;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13087
{
	z-index: 310;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#pu12143,#pu12168,#ppu12283,#pu12299,#pu12319,#pu12343,#pu12364,#pu12374,#pu12384,#pu12469,#ppu12510,#pu12563,#pu12629,#pu12653,#pu12684,#pu12739,#pu12784,#pu12833,#pu12904,#pu12914,#pu12967,#pu12982,#pu12992,#pu13002,#pu13017,#pu13032,#pu13052,#pu13092,#pu13117,#pu13142,#pu13152
{
	width: 0.01px;
	margin-top: 15px;
}

#u13152
{
	z-index: 334;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13147
{
	z-index: 332;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 520px;
}

#u13157
{
	z-index: 336;
	width: 1024px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

@font-face
{
	font-family: '__Sabon RomanSC_5';
	src: url('../fonts/2c6fef_0_0.eot');
	src: local('☺'), url('../fonts/2c6fef_0_0.woff') format('woff'), url('../fonts/2c6fef_0_0.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 300px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

