/*

*/

.version.wedding_photos /* version checker */
{
	color: #0000EE;
	background-color: #2C24BA;
}

.html
{
	background: #FFFFFF url("../images/paper_1000px.jpg") repeat left top;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 999.9999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -300px;
	padding-bottom: 1000px;
}

#u4286
{
	z-index: 3;
	padding-bottom: 58px;
}

#u4286_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7893
{
	z-index: 4;
	width: 738px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 223px;
}

#u7893_clip
{
	width: 738px;
	height: 176px;
}

#u4286-bw
{
	z-index: 3;
	height: 242px;
}

#u4214
{
	z-index: 2;
	height: 80px;
}

#u4214-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#menuu9629
{
	z-index: 6;
	width: 832px;
	top: 29px;
	left: 96px;
}

#u9666
{
	width: 57px;
	min-height: 24px;
	margin-right: -10000px;
}

#u9669
{
	width: 57px;
	padding-bottom: 10px;
}

#u9669:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9669.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9672-4
{
	width: 56px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9669:hover #u9672-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9680
{
	width: 212px;
	min-height: 24px;
	margin-right: -10000px;
	left: 87px;
}

#u9681
{
	width: 212px;
	padding-bottom: 10px;
}

#u9681:hover
{
	width: 212px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9681.MuseMenuActive
{
	width: 212px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9684-4
{
	width: 212px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9669.MuseMenuActive #u9672-4,#u9681:hover #u9684-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9673
{
	width: 150px;
	min-height: 24px;
	margin-right: -10000px;
	left: 329px;
}

#u9674
{
	width: 150px;
	padding-bottom: 10px;
}

#u9674:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9674.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9675-4
{
	width: 150px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9681.MuseMenuActive #u9684-4,#u9674:hover #u9675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9630
{
	width: 95px;
	min-height: 24px;
	margin-right: -10000px;
	left: 509px;
}

#u9631
{
	width: 95px;
	padding-bottom: 10px;
}

#u9631:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9631.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9634-4
{
	width: 95px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9674.MuseMenuActive #u9675-4,#u9631:hover #u9634-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9637
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 634px;
}

#u9638
{
	width: 76px;
	padding-bottom: 10px;
}

#u9638:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9638.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9641-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9631.MuseMenuActive #u9634-4,#u9638:hover #u9641-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9659
{
	width: 92px;
	min-height: 24px;
	margin-right: -10000px;
	left: 740px;
}

#u9660
{
	width: 92px;
	padding-bottom: 10px;
}

#u9660:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9660.MuseMenuActive
{
	width: 92px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u9662-4
{
	width: 92px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u9638.MuseMenuActive #u9641-4,#u9660:hover #u9662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u9660.MuseMenuActive #u9662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__Sabon RomanSC_5';
	src: url('../fonts/2c6fef_0_0.eot');
	src: local('☺'), url('../fonts/2c6fef_0_0.woff') format('woff'), url('../fonts/2c6fef_0_0.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 300px;
}

#page .verticalspacer
{
	clear: both;
}

